<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            padding: 8px;
            text-align: center;
        }
        thead {
            border-bottom: 2px solid #000;
        }
    </style>
</head>
<body>

    <h3>Q&A 게시판</h3>
    <table>
        <thead>
            <tr>
                <th width="300">제목</th>
                <th width="200">이름</th>
                <th width="200">아이디</th>
                <th width="200">작성일</th>
                <th width="200">상태</th>
            </tr>
        </thead>
        
    </table>

</body>
</html>