<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <th:block layout:fragment="content" >

        <div class="container">
            <div class="event-banner">
                <img src="/img/sampleBanner.png" alt="">
            </div>
        <h3>공지사항</h3>

            <div class="search-container">
                <form action="/page/board/anBoard/anList" method="get">
                    <select name="code">
                        <option th:each="item : ${optionList}" th:value="${item.code}" th:text="${item.codeName}" th:selected="${item.code == option.code}"></option>
                    </select>
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요" 
                        th:value="${param.keyword}">
                    <button type="submit">검색</button>
                </form>
            </div>
                
            <table>
                <thead>
                    <tr>
                        <th width="70">번호</th>
                        <th width="300">제목</th>
                        <th width="150">작성자</th>
                        <th width="200">작성일</th>
                        <th width="150">좋아요</th>
                        <th width="100">조회수</th>
                    </tr>
                </thead>
                

                <th:block th:if="${starList.isEmpty()}">
                    <tr>
                        <td colspan="6" align="center" style="padding-top: 183.49px; padding-bottom: 183.49px;">
                            조회된 게시글이 없습니다.
                        </td>
                    </tr>
                </th:block>

                <th:block th:each="starBoard : ${starList}">
                    <tr th:if="${starBoard.type == 'an'}">
                        <td align="center" th:text="${starBoard.starNo}"></td>
                        <td>
                            <a th:href="|anPost?starNo=${starBoard.starNo}|" th:text="${starBoard.title}"></a>
                        </td>
                        <td align="center" th:text="${starBoard.writer}"></td>
                        <td align="center">
                            <span th:text="${#dates.format(starBoard.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                        <td align="center" th:text="${starBoard.likes}"></td>
                        <td align="center" th:text="${starBoard.views}"></td>
                    </tr>
                </th:block>
                
            </table>
            <div class="button-container">
                <!-- 비 로그인 시 -->
                <th:block sec:authorize="isAnonymous()">
                    <!-- 여기에는 아무것도 표시되지 않음 -->
                </th:block>
                <!-- 로그인 시 -->
                <th:block sec:authorize="isAuthenticated()">
                    <a href="/page/board/anBoard/anInsert" class="btn btn-primary">공지 등록</a>
                </th:block>
            </div>
        </div>

    </th:block>

</body>

</html>