<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트</title>
    
<link rel="stylesheet" href="/css/post.css">
</head>
<body>

    <th:block layout:fragment="content">

    <div class="container2">

        

            <center>
                <h1>이벤트</h1>
                </center>
            
                <div class="writer">
                    <label th:text="${starBoard.writer}"></label>
                    <label th:text="${#dates.format(starBoard.regDate, 'yyyy-MM-dd HH:mm:ss')}" ></label>
                </div>
        
                <div class="title-container">
                    <span th:text="${starBoard.title}"></span>
                    <hr>
                </div>
                <div class="content-container">
                    <span th:utext="${starBoard.content}"></span>
                </div>
            
                <div class="button-wrapper">
                  <div class="button-container1">
                    <button type="button" onclick="moveList()">목록</button>
                  </div>
                  <div class="button-container2">
                    <button type="button" onclick="update()">수정</button>
                  </div>
                </div>
            
                <!-- 댓글 등록 -->
                <div class="reply-container">
                    <div class="reply-box">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                         <!-- 사용자 아이디(hidden) -->
                         <input type="hidden" name="writer" id="reply-writer" th:value="${session.user != null ? session.user.id : ''}">
                        <textarea type="text" name="content" id="reply-content" placeholder="자유롭게 의견을 작성하세요. 운영원칙에 위배되는 댓글은 삭제될 수 있습니다."></textarea>
                    <button type="button" id="btn-reply-insert" class="btn-reply" onclick="insertReply()">등록</button>
                    </div>            
                </div>
                <div class="top-reply-list">
                    <label class="reply">댓글</label>
                    <label class="reply-count">댓글 갯수</label>
                </div>
                <!-- 댓글 목록 -->
                <div id="reply-listbox">
                    
                </div>

     
    </div>

    <script>
    
        let starNo = '[[${starBoard.starNo}]]';

        function moveList() {
          location.href = '/page/board/eventBoard/eventList'
        }
  
        function update() {
          location.href = '/page/board/eventBoard/eventUpdate?starNo=' + starNo
        }

        function toggleRereplyContainer(button) {
            const rereplyContainer = button.parentElement.nextElementSibling;
            console.log(rereplyContainer)
            rereplyContainer.classList.toggle('visible');
        }

        // 댓글 목록 요청
        replyList()

        // 댓글 목록
        function replyList() {
            // AJAX 비동기 요청
            // 💍 CRSF TOKEN
            let csrfToken = document.querySelector('input[name="_csrf"]').value;
            let request = new XMLHttpRequest()

            // 요청 세팅
            // request.open(요청메소드, URL)
            request.open('GET', '/page/reply/' + starNo) // 글 번호

            request.onreadystatechange = function() {

                // 요청 성공 시,
                if(request.readyState == request.DONE && request.status == 200) {
                    // 댓글 목록 확인
                    let response = request.responseText
                    // 서버에서 렌더링한 HTML
                    let data = response
                    let replyList = document.getElementById('reply-listbox')
                    replyList.innerHTML = data

                    event()
                }
            }
            request.send()
        }

        // 댓글 등록
        function insertReply() {
            let $writer = document.getElementById('reply-writer')
            let $content = document.getElementById('reply-content')

            let writer = $writer.value
            let content = $content.value

            let data = {
                'starNo'    : starNo,
                'writer'    : writer,
                'content'   : content
            }

            console.dir(data)
            // 💍 CRSF TOKEN
            let csrfToken = document.querySelector('input[name="_csrf"]').value;
            let request = new XMLHttpRequest()

            request.open('POST', '/page/reply')
            request.setRequestHeader('Content-Type', 'application/json')
            request.setRequestHeader('X-CSRF-TOKEN', csrfToken)
            request.send(JSON.stringify(data))

            request.onreadystatechange = function() {

                // 요청 성공 시,
                if(request.readyState == request.DONE && request.status == 201) {
                    console.log('댓글 등록 성공!');
                    let response = request.responseText
                    if(response == 'SUCCESS') {
                        replyList()
                        // 댓글 목록 갱신 후 댓글 입력 창 비우기
                        $writer.value = ''
                        $content.value = ''
                    }
                }
            }
        }

         // 로그인 상태 체크
        document.addEventListener('DOMContentLoaded', function() {
            let isLoggedIn = /*'[[${session.user}]]'*/ null
    
            if (isLoggedIn === null) {
                document.getElementById('reply-content').disabled = true;
                document.getElementById('btn-reply-insert').disabled = true;
                document.getElementById('reply-content').placeholder = "로그인 후 댓글을 작성할 수 있습니다.";
             }
        });

  
      </script>

    
    </th:block>
    
        

</body>
</html>
