<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.starmakers.user.mapper.MypageMapper">

    <!-- 회원 조회 - id -->
    <select id="select" resultType="Users">
        SELECT *
        FROM user
        WHERE user_no = #{userNo}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="update">
        UPDATE user
           SET name = #{name}
              ,password = #{password}
              ,phone = #{phone}
              ,address = #{address}
              ,gender = #{gender}
              ,birth = #{birth}
              ,updated_at = now()
        WHERE username = #{username}
    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE user_no = #{userNo}
    </delete>

</mapper>