<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.starmakers.user.mapper.UserMapper">

    <resultMap type="Users" id="userMap">
        <id property="userNo" column="user_no" />
        <result property="name" column="name" />
        <result property="id" column="id" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="phone" column="phone" />
        <result property="address" column="address" />
        <result property="regDate" column="reg_date" />
        <result property="updDate" column="upd_date" />
        <result property="enabled" column="enabled" />
        <result property="gender" column="gender" />
        <result property="birth" column="birth" />
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap type="UserAuth" id="authMap">
        <result property="authNo" column="auth_no" />
        <result property="userId" column="user_id" />
        <result property="auth" column="auth" />
    </resultMap>

    <!-- 로그인 - username -->
    <select id="login" resultMap="userMap">
        SELECT u.user_no
              ,u.email
              ,password
              ,name
              ,id
              ,phone
              ,address
              ,gender
              ,birth
              ,reg_date
              ,upd_date
              ,1 enabled
              ,auth
        FROM user u LEFT OUTER JOIN user_auth auth ON u.email = auth.user_id
        WHERE u.email = #{email}
    </select>


    <!-- 회원 조회 - id -->
    <select id="select" resultMap="userMap">
        SELECT u.user_no
              ,u.email
              ,password
              ,name
              ,id
              ,phone
              ,address
              ,gender
              ,birth
              ,reg_date
              ,upd_date
              ,1 enabled
              ,auth
        FROM user u LEFT OUTER JOIN user_auth auth ON u.email = auth.user_id
        WHERE u.email = #{email}
    </select>
    
    <!-- 회원 조회 - userNo -->
    <select id="selectUserNo" resultType="Users">
        SELECT *
        FROM user
        WHERE user_no = #{userNo}
    </select>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO user ( name, id, email, password, phone, address, gender, birth )
        VALUES ( #{name}, #{id}, #{email}, #{password}, #{phone}, #{address}, #{gender}, #{birth} )
    </insert>

    <!-- 마이페이지 조회 -->
    <select id="read" resultType="Users">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="update">
        UPDATE user
           SET phone = #{phone}
              ,address = #{address}
              ,id = #{id}
              ,upd_date = now()
        WHERE email = #{email}
    </update>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( user_id, auth )
        VALUES ( #{userId}, #{auth} )
    </insert>

    <!-- 회원 탈퇴 -->
    <delete id="delete">
        DELETE FROM user
        WHERE user_no = #{userNo}
    </delete>

     <!-- 가입여부확인 -->
    <select id="selectEmail" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE name = #{name} AND email = #{email}
    </select>

    <!-- 아이디중복확인 -->
    <select id="selectId" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 관리자 회원 리스트 -->
    <select id="list" resultType="Users">
        SELECT *
        FROM user
    </select>
</mapper>