<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/default_layout}">

<head>
  <title>홍보</title>

  <!-- include summernote css/js-->
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet"> -->
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css"
    integrity="sha256-IKhQVXDfwbVELwiR0ke6dX+pJt0RSmWky3WB2pNx9Hg=" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"
    integrity="sha256-5slxYrL5Ct3mhMAp/dgnb5JSnTYMtkr4dHby34N10qw=" crossorigin="anonymous"></script>

  <!-- language pack -->
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/lang/summernote-ko-KR.min.js"
    integrity="sha256-y2bkXLA0VKwUx5hwbBKnaboRThcu7YOFyuYarJbCnoQ=" crossorigin="anonymous"></script>

  <!-- DatePicker  -->
  <script src="/lib/datePicker.js" type="text/javascript"></script>
  <!-- <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script> -->
  <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <style>

  </style>
</head>


<!-- layout:decorate 쓸 때 본문 내용은 <th:block layout:fragment="content"></th:block> 안에 적어야 화면에 뜸 -->
<th:block layout:fragment="content" class="align-items-center ml-5">
  <div class="body lg" style="max-width: 900 ;">
    <h1 class="d-flex justify-content-center mt-3 mb-3">
      결제 정보
    </h1>
    <p class="d-flex justify-content-center text-secondary mb-3">문의사항은 1:1 채팅 또는 Q&A 게시판을 이용해주세요.</p>
    <!-- 이름, 카드번호, 상품명, 금액(날짜x1000) 등 -->
    <div class="container">
      <form action="" method="get" id="payment" class="">
        <div class="container">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">이름</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${userName}">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">결제 금액</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="|${price} 원|">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">카드번호</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" placeholder="카드 번호를 입력하세요.">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">상품 번호</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" placeholder="starNo">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">결제 번호</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" placeholder="payNo">
            </div>
          </div>
          <!-- <div>
            <label for="date">홍보 기간</label>
            <p th:text="${dif}"></p>
          </div> -->
          <input type="submit" value="결제">
        </div>
      </form>

    </div>
  </div>




  <script>
    // let strDate = document.getElementById('strDate').value
    // let strDate = new Date(document.getElementById('strDate').value)
    // const endDate = new Date(document.getElementById('endDate').value)
    const strDate = new Date('[[${starBoard.startDate}]]')
    const year = strDate.getFullYear();
    const month = String(strDate.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1 필요
    const day = String(strDate.getDate()).padStart(2, '0');
    const strDate2= `${year}-${month}-${day}`;
    console.log(strDate2)

    const endDate = new Date('2024-05-30')
    let diff = Math.abs(strDate.getTime() - endDate.getTime());
    diff = Math.ceil(diff / (1000 * 60 * 60 * 24));
    console.log(diff);
  </script>

</th:block>

</html>