<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/card.css" class="css">

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">

</head>



<body>
    <div layout:fragment="content">

        <div class="container mt-3">
            <div class="fs-4 fw-bold d-flex justify-content-between mt-3">
                <span>캘린더</span>
                <div class="col-4 d-flex justify-content-end">
                    <a href="starList.html" class="btn btn-primary col-4 me-1">리스트보기</a>
                    <a href="starInsert.html" class="btn btn-primary col-4 me-1">등록하기</a>
                </div>
            </div>


            
            <div class="d-flex justify-content-between">
                <div id="calendar" class="col-8"></div>
                <div id="cardContainer" class="col-lg-3" >
                    
                </div>
            </div>
        </div>



        <!-- FullCalendar JS -->
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/ko.js"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function () {

                var starList = "[[${starList}]]";
                console.log(starList);


                var colorIndex = 0; // 색상 인덱스 변수 추가
                var colors = [
                    '#008000', // 진한 녹색 (Dark Green)
                    '#000080', // 진한 파란색 (Navy Blue)
                    '#800080', // 진한 보라색 (Dark Purple)
                    '#404040', // 진한 회색 (Dark Gray)
                    '#800000', // 진한 빨간색 (Dark Red)
                    '#FF1493', // 진한 분홍색 (Deep Pink)
                    '#FF8C00', // 진한 주황색 (Dark Orange)
                    '#1E90FF', // 진한 하늘색 (Dodger Blue)
                    '#A52A2A', // 진한 갈색 (Brown)
                    '#4B0082', // 진한 인디고 (Indigo)
                    '#556B2F', // 다크 올리브 그린 (Dark Olive Green)
                    '#FF4500', // 오렌지 레드 (Orange Red)
                    '#2E8B57', // 시 서 그린 (Sea Green)
                    '#DAA520', // 골든 로드 (Goldenrod)
                    '#9932CC', // 다크 오키드 (Dark Orchid)
                    '#8B0000', // 다크 레드 (Dark Red)
                    '#9400D3', // 다크 바이올렛 (Dark Violet)
                    '#4682B4', // 스틸 블루 (Steel Blue)
                    '#008B8B', // 다크 사이언 (Dark Cyan)
                    '#B8860B', // 다크 골든로드 (Dark Goldenrod)
                    '#B22222', // 파이어브릭 (Firebrick)
                    '#5F9EA0', // 케이던 블루 (Cadet Blue)
                    '#A52A2A', // 브라운 (Brown)
                    '#7FFF00', // 차트리즈 (Chartreuse)
                    '#D2691E', // 초콜릿 (Chocolate)
                    '#FF6347', // 토마토 (Tomato)
                    '#8B4513', // 새들 브라운 (Saddle Brown)
                    '#6A5ACD', // 슬레이트 블루 (Slate Blue)
                    '#D2B48C', // 탠 (Tan)
                    '#FF69B4', // 핫핑크 (Hot Pink)
                ];

                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'ko',
                    initialView: 'dayGridMonth',
                    events: "[[${starList}]]",
                    eventClick: function (info) {
                    }
                });
                calendar.render();

                // 다음 색상을 반환하는 함수
                function getNextColor() {
                    var color = colors[colorIndex];
                    colorIndex = (colorIndex + 1) % colors.length;
                    return color;
                }
            });



        </script>


    </div>

</body>

</html>