<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/card.css" class="css">

</head>


<body>
    <div layout:fragment="content">
        <div class="container">
            <form>
                <div class="search-title mt-3">상세검색</div>
                <div class="detail-search mb-3">
                    <div class="row d-flex align-items-center mb-3">
                        <div class="col-md-12 d-flex align-items-center">
                            <h5>상태</h5>
                            <div class="form-check form-check-inline ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="eventOngoing">
                                <label class="form-check-label" for="eventOngoing">
                                    진행중인 이벤트
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="eventExpired">
                                <label class="form-check-label" for="eventExpired">
                                    만료된 이벤트
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center mb-3">
                        <div class="col-md-12 d-flex align-items-center">
                            <h5>형태</h5>
                            <div class="form-check form-check-inline ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="instagram">
                                <label class="form-check-label" for="instagram">
                                    인스타그램
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="youtube">
                                <label class="form-check-label" for="youtube">
                                    유튜브
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="chzzk">
                                <label class="form-check-label" for="chzzk">
                                    치지직
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="afreeca">
                                <label class="form-check-label" for="afreeca">
                                    아프리카
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 d-flex align-items-center">
                            <h5>분야</h5>
                            <div class="form-check form-check-inline ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="food">
                                <label class="form-check-label" for="food">
                                    음식
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="travel">
                                <label class="form-check-label" for="travel">
                                    여행
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="gaming">
                                <label class="form-check-label" for="gaming">
                                    게임
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="music">
                                <label class="form-check-label" for="music">
                                    음악
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="animals">
                                <label class="form-check-label" for="animals">
                                    동물
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="exercise">
                                <label class="form-check-label" for="exercise">
                                    운동
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="asmr">
                                <label class="form-check-label" for="asmr">
                                    ASMR
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-md-12 d-flex align-items-center">
                            <input type="text" class="form-control me-2" id="searchInput" placeholder="검색 키워드 입력">
                            <button type="submit" class="btn btn-primary col-2">검색</button>
                        </div>
                    </div>
                </div>


            </form>


            <div id="promotionCarousel" class="carousel">
                <div class="row mx-0 mb-5">
                    <!-- 한 줄 -->
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">어쩌다보니천생연분</h5>
                                <p class="card-text">꿀타래</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>


                    <style>
                        .card {
                            transition: all 0.1s;
                            position: relative;
                            /* background-color: #333;
                            color: white; */

                        }

                        .card-overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(105deg,
                                    transparent 40%,
                                    rgba(255, 219, 112, 0.8) 45%,
                                    rgba(132, 50, 255, 0.6) 50%,
                                    transparent 54%);
                            filter: brightness(1.1) opacity(0.8);
                            mix-blend-mode: color-dodge;
                            /* 필요에 따라 이 속성을 조정 */
                            background-size: 150% 150%;
                            background-position: 100%;
                            pointer-events: none;
                            /* transition: all 0.1s; */

                            z-index: 100;
                        }

                        .icon-body,
                        .icon-container {
                            pointer-events: none;
                        }


                        .heart {
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            background-color: red;
                            transform: rotate(-45deg);
                            left: 50%;
                            top: 50%;
                            margin: -25px 0 0 -25px;
                            animation: fadeOut 1s forwards;
                        }

                        .heart:before,
                        .heart:after {
                            content: "";
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            background-color: red;
                            border-radius: 50%;
                        }

                        .heart:before {
                            top: -25px;
                            left: 0;
                        }

                        .heart:after {
                            left: 25px;
                            top: 0;
                        }

                        @keyframes fadeOut {
                            0% {
                                opacity: 1;
                                transform: scale(1) rotate(-45deg);
                            }

                            100% {
                                opacity: 0;
                                transform: scale(2) rotate(-45deg);
                            }
                        }
                    </style>

                    <script>
                        $(document).ready(function () {
                            $('.card').each(function () {
                                var container = $(this);
                                var overlay = container.find('.card-overlay');

                                container.on('mousemove', function (e) {
                                    var x = e.offsetX;
                                    var y = e.offsetY;
                                    var rotateY = -1 / 5 * x + 20;
                                    var rotateX = 4 / 30 * y - 20;

                                    overlay.css('background-position', `${x / 5 + y / 5}%`);
                                    container.css('transform', `perspective(350px) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`);
                                });

                                container.on('mouseout', function () {
                                    overlay.css('filter', 'opacity(0)');
                                    container.css('transform', 'perspective(350px) rotateY(0deg) rotateX(0deg)');
                                });

                                container.on('mouseenter', function () {
                                    overlay.css('filter', 'opacity(0.8)');
                                });


                            });



                            let clickTimer;
                            let isDoubleClick = false;

                            $('.card').click(function () {
                                if (isDoubleClick) {
                                    isDoubleClick = false;
                                    return;
                                }

                                clickTimer = setTimeout(() => {
                                    if (!isDoubleClick) {
                                        alert('Button was one-clicked!');
                                    }
                                }, 250);
                            });


                            $('.card').dblclick(function (e) {
                                clearTimeout(clickTimer);
                                isDoubleClick = true;

                                // 하트 모양 이펙트 추가
                                let heart = $('<div class="heart"></div>');
                                $('body').append(heart);
                                heart.css({
                                    top: e.pageY - 25,
                                    left: e.pageX - 25
                                });

                                setTimeout(() => {
                                    heart.remove();
                                }, 1000);

                                // 좋아요 아이콘 클래스 토글
                                $(this).find('.fa-thumbs-up').toggleClass('fa-regular fa-solid');
                            });



                        });
                    </script>


                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/564x/14/ca/82/14ca82cef84122793e07a83a57876243.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제@!목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/originals/45/93/b5/4593b5e64b3be3b6208a230f1c20b606.gif"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <!-- 한 줄 -->
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">어쩌다보니천생연분</h5>
                                <p class="card-text">꿀타래</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/564x/14/ca/82/14ca82cef84122793e07a83a57876243.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <div class="card-overlay"></div>
                            <img src="https://i.pinimg.com/originals/45/93/b5/4593b5e64b3be3b6208a230f1c20b606.gif"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <!-- 한 줄 -->
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">어쩌다보니천생연분</h5>
                                <p class="card-text">꿀타래</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/14/ca/82/14ca82cef84122793e07a83a57876243.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <img src="https://i.pinimg.com/originals/45/93/b5/4593b5e64b3be3b6208a230f1c20b606.gif"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-0">
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                                class="card-img-top" alt="홍보글 제목">
                            <div class="icon-body">
                                <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                                <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                                <img src="/img/icon/youtube.png" class="content-icon youtube">
                                <img src="/img/icon/instagram.svg" class="content-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">홍보글 제목</h5>
                                <p class="card-text">작성자</p>
                            </div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 행추가 -->

            </div>
        </div>


        <script>
            $(document).ready(function () {
                $(window).on('scroll', function () {
                    // 현재 스크롤 위치
                    var scrollTop = $(this).scrollTop();
                    // 문서의 총 높이
                    var documentHeight = $(document).height();
                    // 창의 높이
                    var windowHeight = $(this).height();

                    // 사용자가 페이지 하단에 도달했는지 확인
                    if (scrollTop + windowHeight >= documentHeight) {
                        alert('페이지 하단에 도달했습니다!');
                    }
                });

            });

        </script>


    </div>
</body>

</html>