<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/card.css" class="css">

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">

</head>



<body>
    <div layout:fragment="content">

        <div class="container mt-3">
            <div class="fs-4 fw-bold d-flex justify-content-between mt-3">
                <span>캘린더</span>
                <div class="col-4 d-flex justify-content-end">
                    <a href="starList.html" class="btn btn-primary col-4 me-1">리스트보기</a>
                    <a href="starInsert.html" class="btn btn-primary col-4 me-1">등록하기</a>
                </div>
            </div>


            <div class="d-flex justify-content-between">
                <div id="calendar" class="col-8"></div>
                <div id="cardContainer" class="col-lg-3" style="display: none;">
                    <div class="card">
                        <div class="card-overlay"></div>
                        <img src="https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg"
                            class="card-img-top" alt="홍보글 제목">
                        <div class="icon-body">
                            <img src="/img/icon/afreeca.png" class="content-icon afreeca">
                            <img src="/img/icon/chzzk.png" class="content-icon chzzk">
                            <img src="/img/icon/youtube.png" class="content-icon youtube">
                            <img src="/img/icon/instagram.svg" class="content-icon">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">제목</h5>
                            <p class="card-text">내용</p>
                        </div>
                        <div class="icon-container">
                            <i class="fa-regular fa-thumbs-up icon"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <!-- FullCalendar JS -->
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/ko.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var colorIndex = 0; // 색상 인덱스 변수 추가
                var colors = [
                    '#008000', // 진한 녹색 (Dark Green)
                    '#000080', // 진한 파란색 (Navy Blue)
                    '#800080', // 진한 보라색 (Dark Purple)
                    '#404040', // 진한 회색 (Dark Gray)
                    '#800000', // 진한 빨간색 (Dark Red)
                    '#FF1493', // 진한 분홍색 (Deep Pink)
                    '#FF8C00', // 진한 주황색 (Dark Orange)
                    '#1E90FF', // 진한 하늘색 (Dodger Blue)
                    '#A52A2A', // 진한 갈색 (Brown)
                    '#4B0082'  // 진한 인디고 (Indigo)
                ];

                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'ko',
                    initialView: 'dayGridMonth',
                    events: [
                        {
                            title: '으아아아아아',
                            start: '2024-05-19',
                            end: '2024-05-31',
                            description: '홍보 이벤트 설명',
                            imageUrl: 'https://i.pinimg.com/564x/fd/33/ef/fd33ef3e0233db95a5c7681723b40d16.jpg',
                            icons: [
                                '/img/icon/afreeca.png',
                                '/img/icon/chzzk.png',
                                '/img/icon/youtube.png',
                                '/img/icon/instagram.svg'
                            ],
                            color: getNextColor() // getNextColor 함수 호출
                        },
                        {
                            title: '차은우 팬사인회',
                            start: '2024-05-24',
                            end: '2024-05-28',
                            description: '홍보 이벤트 설명',
                            imageUrl: 'https://img3.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202203/30/sportskhan/20220330171600461ppis.jpg',
                            icons: [
                                '/img/icon/afreeca.png',
                                '/img/icon/chzzk.png',
                                '/img/icon/youtube.png',
                                '/img/icon/instagram.svg'
                            ],
                            color: getNextColor() // getNextColor 함수 호출
                        },
                        {
                            title: '화산귀환',
                            start: '2024-05-29',
                            description: '다른 이벤트 설명',
                            imageUrl: 'https://i.pinimg.com/564x/14/ca/82/14ca82cef84122793e07a83a57876243.jpg',
                            icons: [
                                '/img/icon/afreeca.png',
                                '/img/icon/chzzk.png',
                                '/img/icon/youtube.png',
                                '/img/icon/instagram.svg'
                            ],
                            color: getNextColor() // getNextColor 함수 호출
                        }
                    ],
                    eventClick: function (info) {
                        var event = info.event;
                        var cardContainer = document.getElementById('cardContainer');

                        // 카드 내용 업데이트
                        var cardImage = cardContainer.querySelector('.card-img-top');
                        var cardTitle = cardContainer.querySelector('.card-title');
                        var cardText = cardContainer.querySelector('.card-text');
                        var iconBody = cardContainer.querySelector('.icon-body');

                        cardImage.src = event.extendedProps.imageUrl;
                        cardTitle.textContent = event.title;
                        cardText.textContent = event.extendedProps.description;

                        // 아이콘 업데이트
                        iconBody.innerHTML = '';
                        event.extendedProps.icons.forEach(function (iconUrl) {
                            var iconImg = document.createElement('img');
                            iconImg.src = iconUrl;
                            iconImg.classList.add('content-icon');
                            iconBody.appendChild(iconImg);
                        });

                        // 카드 보여주기
                        $("#cardContainer").show();
                    }
                });
                calendar.render();

                // 다음 색상을 반환하는 함수
                function getNextColor() {
                    var color = colors[colorIndex];
                    colorIndex = (colorIndex + 1) % colors.length;
                    return color;
                }
            });



            $(document).ready(function () {
                
                var container = $('.card');
                var overlay = container.find('.card-overlay');

                container.on('mousemove', function (e) {
                    var x = e.offsetX;
                    var y = e.offsetY;
                    var rotateY = -1 / 5 * x + 20;
                    var rotateX = 4 / 30 * y - 20;

                    overlay.css('background-position', `${x / 5 + y / 5}%`);
                    container.css('transform', `perspective(350px) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`);
                });

                container.on('mouseout', function () {
                    overlay.css('filter', 'opacity(0)');
                    container.css('transform', 'perspective(350px) rotateY(0deg) rotateX(0deg)');
                });

                container.on('mouseenter', function () {
                    overlay.css('filter', 'opacity(0.8)');
                });



                let clickTimer;
                let isDoubleClick = false;

                $('.card').click(function () {
                    if (isDoubleClick) {
                        isDoubleClick = false;
                        return;
                    }

                    clickTimer = setTimeout(() => {
                        if (!isDoubleClick) {
                            alert('Button was one-clicked!');
                        }
                    }, 250);
                });


                $('.card').dblclick(function (e) {
                    clearTimeout(clickTimer);
                    isDoubleClick = true;

                    // 하트 모양 이펙트 추가
                    let heart = $('<div class="heart"></div>');
                    $('body').append(heart);
                    heart.css({
                        top: e.pageY - 25,
                        left: e.pageX - 25
                    });

                    setTimeout(() => {
                        heart.remove();
                    }, 1000);

                    // 좋아요 아이콘 클래스 토글
                    $(this).find('.fa-thumbs-up').toggleClass('fa-regular fa-solid');
                });



            });
        </script>










    </div>

</body>

</html>