<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/card.css" class="css">

</head>


<body>
    <div layout:fragment="content">
        <div class="container">
            <form>
                <div class="search-title d-flex justify-content-between mt-3">
                    <span>상세검색</span>
                    <div class="col-4 d-flex justify-content-end">
                        <a href="starCalendar.html" class="btn btn-primary col-4 me-1">캘린더보기</a>
                        <a href="starInsert.html" class="btn btn-primary col-4 me-1">등록하기</a>
                    </div>
                </div>
                <div class="detail-search mb-3">
                    <div class="row d-flex align-items-center mb-3">
                        <div class="col-md-12 d-flex align-items-center">
                            <h5>상태</h5>
                            <div class="form-check form-check-inline ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="eventOngoing">
                                <label class="form-check-label" for="eventOngoing">
                                    진행중인 이벤트
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="eventExpired">
                                <label class="form-check-label" for="eventExpired">
                                    만료된 이벤트
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="eventExpired">
                                <label class="form-check-label" for="eventExpired">
                                    진행예정 이벤트
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center mb-3">
                        <div class="col-md-12 d-flex align-items-center">
                            <h5>형태</h5>
                            <div class="form-check form-check-inline ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="instagram">
                                <label class="form-check-label" for="instagram">
                                    인스타그램
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="youtube">
                                <label class="form-check-label" for="youtube">
                                    유튜브
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="chzzk">
                                <label class="form-check-label" for="chzzk">
                                    치지직
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="afreeca">
                                <label class="form-check-label" for="afreeca">
                                    아프리카
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 d-flex align-items-center">
                            <h5>분야</h5>
                            <div class="form-check form-check-inline ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="food">
                                <label class="form-check-label" for="food">
                                    음식
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="travel">
                                <label class="form-check-label" for="travel">
                                    여행
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="gaming">
                                <label class="form-check-label" for="gaming">
                                    게임
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="music">
                                <label class="form-check-label" for="music">
                                    음악
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="animals">
                                <label class="form-check-label" for="animals">
                                    동물
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="exercise">
                                <label class="form-check-label" for="exercise">
                                    운동
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="asmr">
                                <label class="form-check-label" for="asmr">
                                    ASMR
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-md-12 d-flex align-items-center">
                            <input type="text" class="form-control me-2" id="searchInput" placeholder="검색 키워드 입력">
                            <button type="submit" class="btn btn-primary col-2">검색</button>
                        </div>
                    </div>
                </div>


            </form>


            <div id="promotionCarousel" class="carousel">
                <div class="row mx-0 mb-5" id="starList">
                    <div class="col-lg-3 p-0" th:each="star : ${starList}">
                        <div class="card" th:classappend="${star.card == '유료홍보'} ? ' effect'"
                            th:data-no="${star.starNo}">
                            <div th:if="${star.card == '유료홍보'}" class="card-overlay"></div>
                            <img th:src="|/file/img/${star.imgNo}|" class="card-img-top" th:alt="${star.title}">
                            <div class="icon-body">
                                <img th:each="icon : ${star.icons}" th:src="|/img/icon/${icon}.png|"
                                    th:class="|content-icon ${icon}|">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${star.title}">제목 없음</h5>
                                <p class="card-text" th:text="${star.writer}">내용 없음</p>
                            </div>
                            <div class="icon-container">
                                <i class=" fa-thumbs-up icon"
                                    th:classappend="${star.likes_chk} ? ' fa-solid':'fa-regular' "></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <script>
                $(document).ready(function () {


                    let page = 1;
                    const type = 'starCard';
                    let isLoading = false;

                    function loadMoreCards() {
                        if (isLoading) return;
                        isLoading = true;
                        page += 1;

                        $.ajax({
                            url: `/page/starCard/starList/api`,
                            method: 'GET',
                            data: {
                                type: type,
                                page: page
                            },
                            success: function (data) {
                                data.forEach(star => {
                                    const cardHtml = `
                                        <div class="col-lg-3 p-0">
                                            <div class="card ${star.card === '유료홍보' ? 'effect' : ''}" data-no="${star.starNo}">
                                                ${star.card === '유료홍보' ? '<div class="card-overlay"></div>' : ''}
                                                <img src="/file/img/${star.imgNo}" class="card-img-top" alt="${star.title}">
                                                <div class="icon-body">
                                                    ${star.icons.map(icon => `<img src="/img/icon/${icon}.png" class="content-icon ${icon}">`).join('')}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">${star.title}</h5>
                                                    <p class="card-text">${star.writer}</p>
                                                </div>
                                                <div class="icon-container">
                                                    <i class="fa-thumbs-up icon ${star.likes_chk ? 'fa-solid' : 'fa-regular'}"></i>
                                                </div>
                                            </div>
                                        </div>
                                        `;
                                    $('#starList').append(cardHtml);
                                });
                                isLoading = false;
                            }
                            ,
                            error: function () {
                                console.error("Failed to load more cards.");
                                isLoading = false;
                            }
                        });
                    }

                    $(window).scroll(function () {
                        if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                            loadMoreCards();
                        }
                    });



                });
            </script>





        </div>
</body>

</html>