  .note-table .note-icon-caret {
    display: none;
  }
  .note-fontsize .note-icon-caret {
    display: none;
  }
  .note-fontname .note-icon-caret {
    display: none;
  }

  .note-height .note-icon-caret {
    display: none;
  }
  .note-para .note-icon-caret {
    display: none; 
  }

 .note-color-all .note-icon-caret {
    /* display: none; */
 }