* {
  margin: 0;
  padding: 0;
}

.note-table .note-icon-caret {
  display: none;
}

.note-fontsize .note-icon-caret {
  display: none;
}

.note-fontname .note-icon-caret {
  display: none;
}

.title {
  tab-size: 30px;
}

/* 메뉴 바 굵기 */
.nav-links a.active {
  font-weight: bold;
  color: #000;
}

.note-height .note-icon-caret {
  display: none;
}

.note-para .note-icon-caret {
  display: none;
}

.note-color-all .note-icon-caret {
  /* display: none; */
}


.container #channel {
  border: 1px;
}

.container .btn-list {
  /* margin-top: 10px; */
  margin-right: 10px;
}

html,
body {
  overflow: hidden;
}