<th:block th:each="reply : ${replyList}">

<div id="reply-list">
    <!-- 댓글 -->
    <div class="reply-top">
        <span class="reply-writer" th:text="${reply.writer}"></span>
        <span class="reply-regDate" th:text="${reply.regDate}">
            <i class="fa-regular fa-thumbs-up icon"></i>
        </span>
    </div>
    <!-- 댓글 내용/ 수정 삭제 버튼 -->
    <div class="reply-middle">
        <p class="reply-content" th:text="${reply.content}"></p>
        <div class="reply-button">
            <button class="btn-reply-update">수정</button>
            <button class="btn-reply-delete">삭제</button>
        </div>
    </div>
    <!-- 답글 쓰기 -->
    <div class="reply-rereply">
        <button class="btn-rereply" onclick="toggleRereplyContainer(this)">답글쓰기</button>
    </div>

    <div class="rereply-container m-0 p-0">
        <div class="rereply-box">
            <textarea type="text" placeholder="자유롭게 의견을 작성하세요. 운영원칙에 위배되는 댓글은 삭제될 수 있습니다."></textarea>
            <button type="button">등록</button>
        </div>       
    </div>
    
</div>

</th:block>