<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <style>
        .container {
            margin-left: 50px;
            margin-top: 50px;
            width: 100%;
            height: 100%;
        }

        h3 {
            margin-bottom: 50px;
        }



    </style>
</head>
<body>
    <th:block th:replace="~{fragment/header::headerFragment}"></th:block>
    <form action="" method="get">
    <div class="container">
        <h3>김조은 님</h3>
        <p>
            <a href="">회원 정보</a>
            <span>아이디</span>
            <span>joeun123</span>
        </p>
        <p>
            <span>결제 내역</span>
            <span>이름</span>
            <span>김조은</span>
        </p>
        <p>
            <span>내가 쓴 글</span>
            <span>전화번호</span>
            <span>010-1234-5678</span>
        </p>
        <p>
            <span>1 : 1 문의</span>
            <span>이메일</span>
            <span>joeun123@gmail.com</span>
        </p>
        <p>
            <span>회원 탈퇴</span>
            <span>주소</span>
            <span>인천광역시 부평구 경원대로 1366</span>
        </p>
    </div>
    <input class="btn btn-primary" style="background-color: #B8C3FF; margin-left: 400px; border: none;" type="submit" value="정보 수정">
</form>
    <th:block th:replace="~{fragment/footer::footerFragment}"></th:block>
</body>
</html>