<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기</title>
    <link rel="stylesheet" href="/css/post.css">
</head>

<body>

    <th:block layout:fragment="content">

        <div class="container2">

            <center>
                <h1>후기</h1>
            </center>

            <div class="writer">
                <label th:text="${starBoard.writer}"></label>
                <label th:text="${#dates.format(starBoard.regDate, 'yyyy-MM-dd HH:mm:ss')}"></label>
        </div>
        <div class="title-container">
            <span th:text="${starBoard.title}"></span>
            <hr>
        </div>
        <div class="content-container">
            <span th:utext="${starBoard.content}"></span>
        </div>
    
        <div class="button-wrapper">
          <div class="button-container1">
            <button type="button" onclick="moveList()">목록</button>
          </div>
          <div class="button-container2">
            <button type="button" onclick="update()">수정</button>
          </div>
          <div class="button-container3">
            <button type="button" onclick="actionDelete()">삭제</button>
          </div>
        </div>
    
        <!-- 댓글 등록 -->
        <div class="reply-container">
            <div class="reply-box">
            <textarea type="text" placeholder="자유롭게 의견을 작성하세요. 운영원칙에 위배되는 댓글은 삭제될 수 있습니다."></textarea>
            <button type="button">등록</button>
            </div>
            
        </div>
        <div class="top-reply-list">
            <label class="reply">댓글</label>
            <label class="reply-count">댓글 갯수</label>
        </div>
        <!-- 댓글 목록 -->
        <div id="reply-list">
            <!-- 댓글 -->
            <div class="reply-top">
                <span class="reply-writer">${writer}</span>
                <span class="reply-regDate">${regDate}
                    
                    <i class="fa-regular fa-thumbs-up icon"></i>

                </span>
            </div>
            <!-- 댓글 내용/ 수정 삭제 버튼 -->
            <div class="reply-middle">
                <p class="reply-content">${content}</p>
                <div class="reply-button">
                    <button class="btn-reply-update">수정</button>
                    <button class="btn-reply-delete">삭제</button>
                </div>
            </div>
            <!-- 답글 쓰기 -->
            <div class="reply-rereply">
                <button class="btn-rereply" onclick="toggleRereplyContainer(this)">답글쓰기</button>
            </div>

            <div class="rereply-container m-2 p-0">
                <div class="rereply-box">
                    <textarea type="text" placeholder="자유롭게 의견을 작성하세요. 운영원칙에 위배되는 댓글은 삭제될 수 있습니다."></textarea>
                    <button type="button">등록</button>
                </div>       
            </div>
            <!-- 답글!! 목록 -->
            <div id="rereply-list">
                <div class="rereply">
                    <!-- 답글 -->
                    <div class="rereply-top">
                        <span class="rereply-writer">${writer}</span>
                        <span class="rereply-regDate">${regDate}
                            
                                <i class="fa-regular fa-thumbs-up icon"></i>
                            
                        </span>
                    </div>
                    <!-- 답글 내용/ 수정 삭제 버튼 -->
                    <div class="rereply-middle">
                        <p class="rereply-content">${content}</p>
                        <div class="rereply-button">
                            <button class="btn-rereply-update">수정</button>
                            <button class="btn-rereply-delete">삭제</button>
                        </div>
                    </div>
                    <!-- 답글에 답글 쓰기 -->
                    <div class="rereply-rereply">
                        <button class="btn-rereply" onclick="toggleRereplyContainer(this)">답글쓰기</button>
                    </div>
                    <div class="rereply-container m-0 p-0">
                        <div class="rereply-box">
                            <textarea type="text" placeholder="자유롭게 의견을 작성하세요. 운영원칙에 위배되는 댓글은 삭제될 수 있습니다."></textarea>
                            <button type="button">등록</button>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    
        



        <!-- 예시 자료 2 -->
        <div id="reply-list">
            <div class="reply-top">
                <span class="reply-writer">${writer}</span>
                <span class="reply-regDate">${regDate}
                    <i class="fa-regular fa-thumbs-up icon"></i>
                </span>
            </div>
            <div class="reply-middle">
                <p class="reply-content">${content}</p>
                <div class="reply-button">
                    <button class="btn-reply-update" onclick="update()">수정</button>
                    <button class="btn-reply-delete">삭제</button>
                </div>
            </div>
            <div class="reply-rereply">
                <button class="btn-rereply" onclick="toggleRereplyContainer(this)">답글쓰기</button>
            </div>
        </div>
        
     
    </div>

    <script>
    
        let starNo = '[[${starBoard.starNo}]]'

        function moveList() {
          location.href = '/page/board/reviewBoard/reviewList'
        }
  
        function update() {
          location.href = '/page/board/reviewBoard/reviewUpdate?starNo=' + starNo
        }
 
        // 삭제 요청
        // function actionDelete() {
        //     let check = confirm('정말로 삭제하시겠습니까?')
        //     if( check ) {
        //         var goform = $("<form>", {
	    //         method: "post",
        //         action: '/page/review/delete',
                
        //         html: insdoc
        //         }).appendTo("body");
    
	    //         goform.submit();
        //     }
        // }
        function toggleRereplyContainer(button) {
            const rereplyContainer = button.parentElement.nextElementSibling;
            console.log(rereplyContainer)
            rereplyContainer.classList.toggle('visible');
        }
  
      </script>
    
        </th:block>
    
        

</body>
</html>