<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .find-id-form {
            display: flex;
            height: 60vh;
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: auto;
            background-color: #fff;
            border-radius: 5px;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
            flex-direction: column;
            justify-content: center;
        }
        .recover-id-msg {
            text-align: center;
        }
    </style>
</head>
<body>

    <th:block th:replace="~{fragment/header :: headerFragment}"></th:block>

    <div class="find-id-form">
        <form>
            <div class="recover-id-msg">
                <h1 class="h3 mb-3 font-weight-normal text-center">아이디 찾기</h1>
                <span>이름과 이메일을 입력해주세요.</span>
            </div>
            <div class="form-group">
                <label for="inputUsername">이름</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="사용자 이름" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputEmail">이메일 주소</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="이메일 주소" required autofocus>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">아이디 찾기</button>
        </form>
    </div>

    <th:block th:replace="~{fragment/footer :: footerFragment}"></th:block>

    <!-- 부트스트랩 JS 및 의존성 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

