<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.starmakers.board.mapper.BoardMapper">

    <!-- 게시판 조회 -->
    <select id="select" resultType="starCard">
        SELECT *
        FROM star_board
        WHERE status = "홍보중"
    </select>

    <!-- 글 등록 -->
    <insert id="starInsert">
        INSERT INTO star_board(title, writer, content, user_no, pay_no, status, category1, category2, type)
        VALUES (#{starTitle}, #{starWriter}, #{starContent},#{userNo},#{payNo},"홍보요청",#{starCategory1},#{starCategory2},#{starType})
    </insert>
    
</mapper>