<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.starmakers.board.mapper.StarMapper">

    <!-- 게시판 목록 -->
    <select id="list" resultType="StarBoard">
        SELECT s.*, file_no as imgNo
        FROM star_board s 
        left join file f
        ON f.star_no=s.star_no 
        WHERE type = #{type}
        <if test="option != null and option.keyword != null and option.keyword != ''">
            AND
            <if test="option.code == 0">
                (title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%'))
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                writer LIKE CONCAT('%', #{option.keyword}, '%')
            </if>

        </if>
        ORDER BY reg_date DESC
        LIMIT #{page.index}, #{page.rows}
    </select>

      <!-- 데이터 개수 조회 - [검색] -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM star_board
        WHERE type = #{type}
        <if test="option != null and option.keyword != null and option.keyword != ''">
            AND
            <if test="option.code == 0">
                (title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%'))
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                writer LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        </if> 
    </select>

    <!-- 게시글 목록 검색 -->
    <select id="search" resultType="StarBoard">
        SELECT *
        FROM star_board
        WHERE type = #{type}
        <if test="option != null and option.keyword != null and option.keyword != ''">
            AND
            <if test="option.code == 0">
                (title LIKE CONCAT('%', #{option.keyword}, '%')
                OR content LIKE CONCAT('%', #{option.keyword}, '%'))
            </if>
            <if test="option.code == 1">
                title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                writer LIKE CONCAT('%', #{option.keyword}, '%')
            </if>

        </if>
        ORDER BY reg_date DESC
        
    </select>

    <!-- 게시글 번호 최댓값 -->
    <select id="maxPk" resultType="int">
        SELECT MAX(star_no)
        FROM star_board
        WHERE type = #{type}
    </select>

    <!-- 게시판 조회 -->
    <!-- <select id="select" resultType="starCard">
        SELECT *
        FROM star_board
        WHERE status = "홍보중"
    </select> -->

    <!-- 글 등록 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="starNo">
        INSERT INTO star_board(title, writer, content, user_no, pay_no, card, category1, category2, type, start_date, end_date)
        VALUES (#{title}, #{writer}, #{content},#{userNo},#{payNo},#{card},#{category1},#{category2},#{type},#{startDate},#{endDate})
    </insert>

    <!-- 글 등록 -->
    <!-- <insert id="payInsert" useGeneratedKeys="true" keyProperty="starNo">
        INSERT INTO star_board(title, writer, content, user_no, pay_no, card, category1, category2, type, start_date, end_date)
        VALUES (#{title}, #{writer}, #{content},#{userNo},#{payNo},#{card},#{category1},#{category2},#{type},#{startDate},#{endDate})
    </insert> -->

    <!-- 결제 정보 등록 -->
    <insert id="payment">

    </insert>
    <!-- 글 조회 -->
    <select id="select" resultType="StarBoard">
        SELECT * FROM star_board
        WHERE star_no = #{starNo}
    </select>

    <!-- 글 수정 -->
    <update id="update">
        UPDATE star_board
        SET title = #{title},
            <!-- writer = #{writer}, -->
            content = #{content},
            upd_date = now()
        WHERE star_no = #{starNo}
    </update>


    <!-- 조회수 -->
    <update id="views">
        UPDATE star_board
           SET views = views + 1
        WHERE star_no = #{starNo}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM star_board
        WHERE star_no IN (${starNo})
    </delete>

</mapper>