<th:block th:fragment="script">
    <!-- js 가져오는 순서 -->
    <!-- jQuery -->
    <!-- jQuery기반 라이브러리 -->
    <!-- 자바스크립트 라이브러리 -->
    <!-- 사용자 정의 자바스크립트 -->
    <!-- <script src="/js/script.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script src="/lib/summernote-lite.js"></script>
    <script src="/lib/summernote-ko-KR.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
       
        $(document).ready(function () {
             // 카드 좋아요 클릭
            $('.fa-thumbs-up').click(function () {
                $(this).toggleClass('fa-regular fa-solid');
            });
        });
    </script>

</th:block>