<th:block th:fragment="script">
    <!-- js 가져오는 순서 -->
    <!-- jQuery -->
    <!-- jQuery기반 라이브러리 -->
    <!-- 자바스크립트 라이브러리 -->
    <!-- 사용자 정의 자바스크립트 -->
    <!-- <script src="/js/script.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/lib/summernote-lite.js"></script>
    <script src="/lib/summernote-ko-KR.js"></script>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
</th:block>